%h1 Edit #{@wiki.title}

.col-md-8
  = form_for @wiki do |f|
    .form_group
      = f.label :title
      = f.text_field :title, class:'form-control', autofocus: true, placeholder: "#{@wiki.title}"
    
    .form_group
      = f.label :body
      = f.text_area :body, class:'form-control', size: '60x12', placeholder: "#{@wiki.body}"

    .form_group
      = f.label :private
      = f.check_box :private

    .actions
      = f.submit "Submit"

//  = form_for @collab, url: { action: "add_collaborator" } do |f|
//    .form_group
//      = f.label :email
//      = f.text_field :email, class: 'form-control', placeholder: "Enter collaborator email"
//
//    .actions
//      = f.submit "Add Collaborator"

.col-md-8
  = form_tag(action: "add_collaborator") do
    .form_group
      = label_tag :collaborator_email
      = text_field_tag :collaborator_email, nil, class: 'form-control', placeholder: "Enter collaborator email"

    .actions
      = submit_tag "Add Collaborator"

.col-md-4
  - if policy(@wiki).destroy?
    = link_to "Delete Wiki", wiki_path, method: :destroy
