%h1 New Wiki

.col-md-6
  = form_for @wiki do |f|
    - if @wiki.errors.any?
      .alert.alert-danger
        %h4 There are #{pluralize(@wiki.errors.count, "error")}.
        %ul
          - @wiki.errors.full_messages.each do |msg|
            %li #{msg}

    = form_group_tag(@wiki.errors[:title]) do
      = f.label :title
      = f.text_field :title, class:'form-control', autofocus: true, placeholder: 'title'

    = form_group_tag(@wiki.errors[:body]) do
      = f.hidden_field :body, placeholder: 'Enter the body of your wiki here!', id: "prev"
      %div#epiceditor

    - if policy(@wiki).set_private?
      .form-group
        = f.label :private
        = f.check_box :private

    .actions
      = f.submit "Submit", onclick: "getContent();"

.col-md-6
  %div#previewer

:javascript
  var editor = new EpicEditor(opts).load();

  $(document).ready(function() {
    //Generate first preview if client has local info stored already
    $("#previewer").html($("epiceditor-preview"));
  });

  //Update preview div for further edits
  editor.on('update', function() {
    $("#previewer").html(editor.getElement('editor').body.innerHTML);
  });

  var getContent = function() {
    var content = editor.exportFile();
    $("#wiki_body").val(content);
  };
