%h1 New Wiki

.col-md-6
  = form_for @wiki do |f|
    .form-group
      = f.label :title
      = f.text_field :title, class:'form-control', autofocus: true, placeholder: 'title'

    .form-group#epiceditor
      = f.label :body
      = f.text_area :body, class:'form-control'

    .form-group
      = f.hidden_field :body
      %div#epiceditor

    - if policy(@wiki).set_private?
      .form-group
        = f.label :private
        = f.check_box :private

    .actions
      = f.submit "Submit", onclick: "getContent();"

.col-md-6
  %p Placeholder for preview window


:javascript
  $(document).ready(function() {
    editor = new EpicEditor(opts).load();
  });

  var getContent = function() {
    var content = editor.exportFile();
    $("#wiki_body").val(content);
  };
